<ul class="panelinvitations">
	<f:for each="{panel.panelInvitations}" as="panelInvitation">
		<f:if condition="{panelInvitation.attendingCommunityUser}">
			<f:then>
				<f:if condition="{panelInvitation.attendingCommunityUser.party} == {party}">
					<f:then>
						<li><f:translate key="panel.panelInvitations.attendingTitle" />:
							<strong>
								{panelInvitation.attendingCommunityUser.firstName} {panelInvitation.attendingCommunityUser.lastName},
								{panelInvitation.attendingCommunityUser.party.shortTitle}, {panelInvitation.attendingCommunityUser.citySelection.name}
							</strong>
						</li>
					</f:then>
					<f:else>
						<li><f:translate key="panel.panelInvitations.attendingTitle" />: {panelInvitation.attendingCommunityUser.firstName} {panelInvitation.attendingCommunityUser.lastName},
							{panelInvitation.attendingCommunityUser.party.shortTitle}, {panelInvitation.attendingCommunityUser.citySelection.name}
						</li>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<li><f:translate key="panel.panelInvitations.pendingTitle" />:
					<f:if condition="{panelInvitation.allowedParties -> f:count()} > 1">
						<f:then>
							<f:for each="{panelInvitation.allowedParties}" as="allowedParty" iteration="allowedPartyIterator">
								<f:if condition="{allowedPartyIterator.isLast}">
									<f:then>
										<f:if condition="{allowedParty} == {party}">
											<f:then>
												<strong>{allowedParty.shortTitle}</strong>
											</f:then>
											<f:else>
												{allowedParty.shortTitle}
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										<f:if condition="{allowedParty} == {party}">
											<f:then>
												<strong>{allowedParty.shortTitle}</strong> <f:translate key="panel.panelInvitations.or" />
											</f:then>
											<f:else>
												{allowedParty.shortTitle} <f:translate key="panel.panelInvitations.or" />
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</f:for>
						</f:then>
						<f:else>
							<f:for each="{panelInvitation.allowedParties}" as="allowedParty">
								<f:if condition="{allowedParty} == {party}">
									<f:then>
										<strong>{allowedParty.shortTitle}</strong>
									</f:then>
									<f:else>
										{allowedParty.shortTitle}
									</f:else>
								</f:if>
							</f:for>
						</f:else>
					</f:if>
				</li>
			</f:else>
		</f:if>
	</f:for>
</ul>
