<f:comment>
	<ul class="main-navigation">
		<li>
			<a class="btn btn-primary btn-lg" data-role="generalaction" data-actionname="dashboard"><f:translate key="panel.managePanels.dashboard" /></a>
		</li>
		<li>
			<a class="btn btn-primary btn-lg" data-role="generalaction" data-actionname="startPanel"><f:translate key="panel.managePanels.startPanel" /></a>
		</li>
		<li>
			<a class="btn btn-primary btn-lg" data-role="generalaction" data-actionname="managePanels"><f:translate key="panel.managePanels.managePanels" /></a>
		</li>
	</ul>
</f:comment>
<f:flashMessages renderMode="div" />
