<ul class="main-navigation">
	<li>
		<a class="btn btn-primary btn-lg" data-role="ajax" data-actionname="dashboard"><f:translate key="panel.managePanels.dashboard" /></a>
	</li>
	<li>
		<a class="btn btn-primary btn-lg" data-role="ajax" data-actionname="startPanel"><f:translate key="panel.managePanels.startPanel" /></a>
	</li>
	<li>
		<a class="btn btn-primary btn-lg" data-role="ajax" data-actionname="managePanels"><f:translate key="panel.managePanels.managePanels" /></a>
	</li>
</ul>
<f:flashMessages renderMode="div" />
