
<table class="tx-easyvote-education" >
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_panel.title" />
		</td>
		<td>
		{panel.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_panel.description" />
		</td>
		<td>
		{panel.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_panel.date" />
		</td>
		<td>
		{panel.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_panel.room" />
		</td>
		<td>
		{panel.room}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_panel.address" />
		</td>
		<td>
		{panel.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_panel.organization" />
		</td>
		<td>
		{panel.organization}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_panel.class" />
		</td>
		<td>
		{panel.class}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_panel.number_of_participants" />
		</td>
		<td>
		{panel.numberOfParticipants}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_panel.terms_accepted" />
		</td>
		<td>
		{panel.termsAccepted}
		</td>
	</tr>
</table>