<f:comment>
	CURRENTLY UNUSED
	... and not maintained
	Panel is performed in the Presentation View
</f:comment>

<h2>{panel.currentVoting.title}</h2>
<f:render partial="Voting/VotingOptionsReadonly" arguments="{_all}" />

<f:if condition="{panel.currentVoting.votingDuration}">
	<f:then>
		<p><em><f:translate key="voting.votingDuration" />: {panel.currentVoting.votingDuration} <f:translate key="voting.votingDuration.seconds" /></em></p>
	</f:then>
	<f:else>
		<p><em><f:translate key="voting.votingDuration.infinite" /></em></p>
	</f:else>
</f:if>
<p><a data-role="votingaction" data-actionarguments="panel-{panel.uid}-startVoting-{panel.currentVoting.uid}" href="#" class="btn btn-primary"><f:translate key="panel.votingStep.activateButtonText" /></a></p>
