<f:comment>
	CURRENTLY UNUSED
	... and not maintained
	Panel is performed in the Presentation View
</f:comment>

<h2>{panel.currentVoting.title}</h2>
<f:render partial="Voting/VotingOptionsReadonly" arguments="{_all}" />

<f:if condition="{panel.currentVoting.votingDuration}">
	<f:then>
		<p><strong><f:translate key="panel.votingStep.timeLeft" arguments="{0: panel.currentVoting.votingDuration}" /></strong></p>
		<script>
			// 2 additional seconds of voting time due to SSE latency
			var count = {panel.currentVoting.votingDuration} + 2;
			if (counter) {
				clearInterval(counter);
			}
			var counter = setInterval(EasyvoteEducation.timer, 1000);
		</script>
	</f:then>
	<f:else>
		<p><em><f:translate key="panel.votingStep.noVotingDurationNotice" /></em></p>
	</f:else>
</f:if>
<p><a data-role="votingaction" data-actionarguments="panel-{panel.uid}-stopVoting-{panel.currentVoting.uid}" href="#" class="btn btn-primary" id="stopVotingButton"><f:translate key="panel.votingStep.deactivateButtonText" /></a></p>
