<html>
<body>
<p>Salut {communityUser.firstName} !</p>

<p>L'administrateur de ton parti a <strong>annulé</strong> ton inscription au Polittalk suivant :</p>

<table>
	<tbody>
	<tr>
		<th>
			Organisation :
		</th>
		<td>
			{panel.organization}, {panel.address}, {panel.city.postalCode} {panel.city.name}
		</td>
	</tr>
	<tr>
		<th>
			Date :
		</th>
		<td>
			<f:format.date format="%A, %e. %B %Y">{panel.date}</f:format.date>
		</td>
	</tr>
	<tr>
		<th>
			Horaire :
		</th>
		<td>
			<f:if condition="{panel.fromTime}">
				<f:format.date format="%R">{panel.fromTime}</f:format.date>
				<f:if condition="{panel.toTime}">
					<f:then>
						-
						<f:format.date format="%R">{panel.toTime}</f:format.date>
						<f:translate key="panel.time.oClock"/>
					</f:then>
					<f:else>
						<f:translate key="panel.time.oClock"/>
					</f:else>
				</f:if>
			</f:if>
		</td>
	</tr>
	<tr>
		<th>
			Thème :
		</th>
		<td>
			{panel.title}
		</td>
	</tr>
	</tbody>
</table>

<p>Nous partons du principe que ton administrateur de parti en a discuté avec toi.</p>

<p>En cas de désaccord avec cette décision, 
nous te prions de prendre immédiatement contact avec l'administrateur de ton parti.</p>

<p>Tu as encore des questions (pratiques) ?
N'hésite pas à nous contacter par mail à <a href="mailto:info@easyvote.ch">info@easyvote.ch</a> 
ou par téléphone au 031 384 08 09.
</p>

<p>Meilleures salutations</p>

<p>Ton équipe easyvote</p>
<hr/>
<p>*** Ceci est un message automatique. Merci de ne pas y répondre. ***</p>
</body>
</html>



