<html>
<body>
<p>Buongiorno {communityUser.firstName} {communityUser.lastName}</p>

<p>Siamo felici di comunicarle che ha appena creato una richiesta di prenotazione per il Polittalk seguente:</p>

<table>
	<tbody>
	<tr>
		<th>
			Organizzazione:
		</th>
		<td>
			{panel.organization}, {panel.address}, {panel.city.postalCode} {panel.city.name}
		</td>
	</tr>
	<tr>
		<th>
			Data:
		</th>
		<td>
			<f:format.date format="%A, %e. %B %Y">{panel.date}</f:format.date>
		</td>
	</tr>
	<tr>
		<th>
			Ora:
		</th>
		<td>
			<f:if condition="{panel.fromTime}">
				<f:format.date format="%R">{panel.fromTime}</f:format.date>
				<f:if condition="{panel.toTime}">
					<f:then>
						-
						<f:format.date format="%R">{panel.toTime}</f:format.date>
						<f:translate key="panel.time.oClock"/>
					</f:then>
					<f:else>
						<f:translate key="panel.time.oClock"/>
					</f:else>
				</f:if>
			</f:if>
		</td>
	</tr>
	<tr>
		<th>
			Tema:
		</th>
		<td>
			{panel.title}
		</td>
	</tr>
	<tr>
		<th>
			Sezioni giovanili di partito scelte::
		</th>
		<td>
			<ul>
				<f:for each="{panel.panelInvitations}" as="panelInvitation">
					<li>
						<f:for each="{panelInvitation.allowedParties}" as="party" iteration="partyIterator">
							<f:if condition="{partyIterator.isLast}">
								<f:then>
									{party.title}
								</f:then>
								<f:else>
									{party.title} |
								</f:else>
							</f:if>
						</f:for>
					</li>
				</f:for>
			</ul>
		</td>
	</tr>
	</tbody>
</table>

<p>Gli inviti ai candidati delle sezioni giovanili di partito scelte sono stati inviati.</p>

<p>Un mese prima della data del Polittalk verrà informato/a sullo stato della prenotazione.</p>


<p>Ha delle domande? Non esiti a contattarci all’indirizzo <a href="mailto:info@easyvote.ch">info@easyvote.ch</a>.
	Può inoltre raggiungerci telefonicamente allo 031 384 08 09.</p>

<p>Cordiali saluti</p>

<p>Il team easyvote</p>
<hr/>
<p>*** Non risponda a questa e-mail. L’e-mail è stata generata automaticamente. ***</p>
</body>
</html>



