<html>
<body>
<p>Buongiorno {communityUser.firstName} {communityUser.lastName}</p>

<p>Ieri nella Sua scuola si è tenuto un Polittalk.</p>

<p>Saremmo felici se ci volesse dare un feedback dell’evento. In questo modo ci aiuterebbe a sviluppare ulteriormente
	il progetto Polittalk e a rispondere in modo ancora più ottimale alle esigenze delle scuole.</p>

<p>Clicchi per favore sul link seguente per accedere al sondaggio:<br/>
	<a href="{surveyLink}" target="_blank">{surveyLink}</a>
</p>

<p>La partecipazione al sondaggio non dovrebbe richiedere più di cinque minuti.</p>


<p>Ha delle domande o vorrebbe comunicarci qualcosa personalmente? Non esiti a contattarci all’indirizzo
	<a href="mailto:info@easyvote.ch">info@easyvote.ch</a>. Può inoltre raggiungerci telefonicamente allo
	031 384 08 09.</p>

<p>Cordiali saluti</p>

<p>Il team easyvote</p>
<hr/>
<p>*** Non risponda a questa e-mail. L’e-mail è stata generata automaticamente. ***</p>
</body>
</html>