<html>
<body>
<p>Salut {communityUser.firstName} !</p>

<p>Hier tu as eu l'occasion de participer à un Polittalk.</p>

<p>Nous te serions reconnaissants si tu pouvais nous donner un feedback. Cela nous permettrait d'améliorer le projet
	Polittalk et de mieux répondre aux besoins des candidat-e-s.</p>

<p>Pour répondre au questionnaire, clique sur le lien suivant :<br/>
	<a href="{surveyLink}" target="_blank">{surveyLink}</a>
</p>

<p>La participation au questionnaire ne prendra pas plus de cinq minutes.</p>

<p>Tu as encore des questions ou des remarques ? 
N'hésite pas à nous contacter par mail à <a href="mailto:info@easyvote.ch">info@easyvote.ch</a> 
ou par téléphone au 031 384 08 09.</p>

<p>Meilleures salutations</p>

<p>Ton équipe easyvote</p>
<hr/>
<p>*** Ceci est un message automatique. Merci de ne pas y répondre. ***</p>
</body>
</html>



