
<label for="title">
	<f:translate key="tx_easyvoteeducation_domain_model_voting.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="short">
	<f:translate key="tx_easyvoteeducation_domain_model_voting.short" />
</label><br />
	<f:form.textfield property="short" /><br />
<label for="isVisible">
	<f:translate key="tx_easyvoteeducation_domain_model_voting.is_visible" />
</label><br />
	<f:form.checkbox property="isVisible" value="1" /><br />
<label for="isVotingEnabled">
	<f:translate key="tx_easyvoteeducation_domain_model_voting.is_voting_enabled" />
</label><br />
	<f:form.checkbox property="isVotingEnabled" value="1" /><br />
<label for="votingDuration">
	<f:translate key="tx_easyvoteeducation_domain_model_voting.voting_duration" />
</label><br />
	<f:form.textfield property="votingDuration" /><br />