<div class="form-group">
	<label for="voting{voting.uid}-title">
		<f:translate key="tx_easyvoteeducation_domain_model_voting.title" />
	</label>
	<f:form.textfield class="form-control voting-title" id="voting{voting.uid}-title" property="title" additionalAttributes="{required: required}" />
</div>
<f:comment>
	<div class="checkbox">
		<label for="voting{voting.uid}-isVisible">
			<f:form.checkbox id="voting{voting.uid}-isVisible" property="isVisible" value="1" /> <f:translate key="tx_easyvoteeducation_domain_model_voting.is_visible" />
		</label>
	</div>
</f:comment>
<f:form.hidden id="voting{voting.uid}-isVisible" property="isVisible" value="1" />
<div class="form-group">
	<label for="voting{voting.uid}-votingDuration">
		<f:translate key="tx_easyvoteeducation_domain_model_voting.voting_duration" />
	</label>
	<div class="votingDuration-display {f:if(condition:'{voting.votingDuration} == \'0\'', then: 'votingDuration-display-hidden')}">
		<div class="votingDuration-value"><span>{voting.votingDuration}</span> <f:translate key="voting.votingDuration.seconds" /></div>
		<input class="votingDuration-slider" type="range" value="{voting.votingDuration}" min="10" max="300" step="10" />
	</div>
	<div class="checkbox">
		<label>
			<f:if condition="{voting.votingDuration} == 0">
				<f:then>
					<input class="votingDuration-infinite" checked type="checkbox" /> <f:translate key="voting.votingDuration.setInfinite" />
				</f:then>
				<f:else>
					<input class="votingDuration-infinite" type="checkbox" /> <f:translate key="voting.votingDuration.setInfinite" />
				</f:else>
			</f:if>
		</label>
	</div>
	<f:form.hidden id="voting{voting.uid}-votingDuration" class="votingDuration" property="votingDuration" />
</div>