
<table class="tx-easyvote-education" >
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_voting.title" />
		</td>
		<td>
		{voting.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_voting.short" />
		</td>
		<td>
		{voting.short}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_voting.is_visible" />
		</td>
		<td>
		{voting.isVisible}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_voting.is_voting_enabled" />
		</td>
		<td>
		{voting.isVotingEnabled}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvoteeducation_domain_model_voting.voting_duration" />
		</td>
		<td>
		{voting.votingDuration}
		</td>
	</tr>
</table>