<div class="box-header">
	<div class="row">
		<div class="col-xs-3 col-md-3">
			<f:switch expression="{voting.type}">
				<f:case value="10">
					<f:render partial="ActionIcons/Video" />
				</f:case>
				<f:case value="11">
					<f:render partial="ActionIcons/Text" />
				</f:case>
				<f:case default="TRUE">
					<f:render partial="ActionIcons/Voting" />
				</f:case>
			</f:switch>
		</div>
		<div class="col-xs-9 col-md-9">
			<div class="actions">
				<div class="action">
					<a class="action-moveup" data-role="movegenericobject" data-direction="up" data-object="voting" data-uid="{voting.uid}" data-parentobject="panel" data-parentuid="{voting.panel.uid}" data-actionname="sortVotings"><i class="evicon-angle-double-up hasTooltip"></i><div class="hidden">{f:translate(key: 'voting.actions.moveup')}</div></a>
				</div>
				<div class="action">
					<a class="action-movedown" data-role="movegenericobject" data-direction="down" data-object="voting" data-uid="{voting.uid}" data-parentobject="panel" data-parentuid="{voting.panel.uid}" data-actionname="sortVotings"><i class="evicon-angle-double-down hasTooltip"></i><div class="hidden">{f:translate(key: 'voting.actions.movedown')}</div></a>
				</div>
				<div class="action">
					<a data-role="genericobjectaction" data-confirm="true" data-object="voting" data-uid="{voting.uid}" data-actionname="deleteVoting"><i class="evicon-trash hasTooltip"></i><div class="hidden">{f:translate(key: 'voting.actions.delete')}</div></a>
					<div class="hidden ajaxobject-confirm">
						<p><f:translate key="voting.actions.delete.confirmationText" /></p>
						<button class="pull-left btn btn-primary button-cancel"><f:translate key="voting.actions.delete.cancel" /></button>
						<button class="pull-right btn btn-primary button-returntrue"><f:translate key="voting.actions.delete.confirm" /></button>
					</div>
				</div>
				<div class="action toggle handle">
					<i class="evicon-down-open"></i>
				</div>
			</div>
			<h2>{voting.title}</h2>
		</div>
	</div>
</div>
<div class="box-content">
	<f:form class="editVoting" action="update" name="voting" object="{voting}" additionalAttributes="{data-objectname: 'voting', data-objectuid: '{voting.uid}'}">
		<f:switch expression="{voting.type}">
			<f:case value="10">
				<f:render partial="Voting/FormFieldsVideo" arguments="{voting:voting}" />
			</f:case>
			<f:case value="11">
				<f:render partial="Voting/FormFieldsText" arguments="{voting:voting}" />
			</f:case>
			<f:case default="TRUE">
				<f:render partial="Voting/FormFieldsVoting" arguments="{voting:voting}" />
			</f:case>
		</f:switch>
		<f:form.submit class="btn btn-primary btn-sm" value="{f:translate(key: 'voting.actions.save')}" />
	</f:form>
	<f:if condition="{voting.type} < 10">
		<h3><f:translate key="voting.votingOptions" /></h3>
		<div class="votingOptions-content" data-votinguid="{voting.uid}">
			<f:render partial="Voting/VotingOptions" arguments="{voting:voting}"/>
		</div>
		<f:comment>
			<ul class="item-toolbar">
				<li>
					<a class="btn btn-primary btn-sm" data-role="genericobjectaction" data-confirm="false" data-object="voting" data-uid="{voting.uid}" data-actionname="duplicateVoting"><f:translate key="voting.actions.duplicate" /></a>
				</li>
			</ul>
		</f:comment>
	</f:if>
	<button type="button" class="btn btn-primary voting-save">{f:translate(key: 'voting.actions.save')}</button>
</div>