<div class="item-header">
	{voting.title}
	|
	<f:if condition="{voting.votingDuration}">
		<f:then>
			<f:translate key="voting.votingDuration" />: {voting.votingDuration} <f:translate key="voting.votingDuration.seconds" />
		</f:then>
		<f:else>
			<f:translate key="voting.votingDuration.infinite" />
		</f:else>
	</f:if>
	<f:if condition="{voting.isVisible}"><f:else>| <f:translate key="voting.hidden" /></f:else></f:if>
</div>
<div class="item-content">
	<f:form class="editVoting" action="update" name="voting" object="{voting}" additionalAttributes="{data-objectname: 'voting', data-objectuid: '{voting.uid}'}">
		<f:render partial="Voting/FormFields" arguments="{voting:voting}" />
		<f:form.submit class="btn btn-primary btn-sm" value="{f:translate(key: 'voting.actions.save')}" />
	</f:form>
	<h3><f:translate key="voting.votingOptions" /></h3>
	<div class="votingOptions-content" data-votinguid="{voting.uid}">
		<f:render partial="Voting/VotingOptions" arguments="{voting:voting}"/>
	</div>
	<ul class="item-toolbar">
		<li>
			<a class="btn btn-primary btn-sm" data-role="genericobjectaction" data-confirm="true" data-object="voting" data-uid="{voting.uid}" data-actionname="deleteVoting"><f:translate key="voting.actions.delete" /></a>
			<div class="hidden ajaxobject-confirm">
				<p><f:translate key="voting.actions.delete.confirmationText" /></p>
				<button class="pull-left btn btn-primary button-cancel"><f:translate key="voting.actions.delete.cancel" /></button>
				<button class="pull-right btn btn-primary button-returntrue"><f:translate key="voting.actions.delete.confirm" /></button>
			</div>
		</li>
		<li>
			<a class="btn btn-primary btn-sm" data-role="genericobjectaction" data-confirm="false" data-object="voting" data-uid="{voting.uid}" data-actionname="duplicateVoting"><f:translate key="voting.actions.duplicate" /></a>
		</li>
		<li>
			<a class="btn btn-primary btn-sm action-movedown" data-role="movegenericobject" data-direction="down" data-object="voting" data-uid="{voting.uid}" data-parentobject="panel" data-parentuid="{voting.panel.uid}" data-actionname="sortVotings"><f:translate key="voting.actions.movedown" /></a>
		</li>
		<li>
			<a class="btn btn-primary btn-sm action-moveup" data-role="movegenericobject" data-direction="up" data-object="voting" data-uid="{voting.uid}" data-parentobject="panel" data-parentuid="{voting.panel.uid}" data-actionname="sortVotings"><f:translate key="voting.actions.moveup" /></a>
		</li>
	</ul>
</div>