<f:flashMessages renderMode="div" />

<h2><f:translate key="panel.execute.title" /> "{panel.title}"</h2>

<f:flashMessages renderMode="div" />

<h3><f:translate key="panel.execute.presentationViewTitle" /></h3>
<p><f:translate key="panel.execute.presentationViewIntroduction" /></p>
<p>
	<f:link.action pageUid="{settings.presentationViewPid}" controller="Panel" action="presentationViewParticipation" arguments="{panelId: panel.panelId}" target="_blank">
		<f:translate key="panel.execute.presentationViewLinkText" />
	</f:link.action>
</p>

<h3><f:translate key="panel.execute.guestViewTitle" /></h3>
<p><f:translate key="panel.execute.guestViewIntroduction" /></p>
<p>
	<f:link.action pageUid="{settings.guestViewPid}" controller="Panel" action="guestViewParticipation" arguments="{panelId: panel.panelId}" target="_blank">
		<f:translate key="panel.execute.guestViewLinkText" />
	</f:link.action>
</p>

<f:if condition="{panel.currentState}">
	<f:then>
		<f:if condition="{panel.currentState} == 'finishedPanel-0">
			<f:then>
				<p><f:translate key="panel.execute.panelFinishedBeforeInformation" /></p>
				<p>
					<a data-role="votingaction" data-actionarguments="panel-{panel.uid}-startPanel-0" href="#" class="btn btn-primary"><f:translate key="panel.execute.restartPanelButtonText" /></a>
				</p>
			</f:then>
			<f:else>
				<p><f:translate key="panel.execute.panelStartedBeforeInformation" /></p>
				<p>
					<a data-role="votingaction" data-actionarguments="panel-{panel.uid}-nextVoting-{panel.currentVoting.uid}" href="#" class="btn btn-primary"><f:translate key="panel.execute.continuePanelButtonText" /></a>
					<a data-role="votingaction" data-actionarguments="panel-{panel.uid}-startPanel-0" href="#" class="btn btn-primary"><f:translate key="panel.execute.restartPanelButtonText" /></a>
				</p>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<p><a data-role="votingaction" data-actionarguments="panel-{panel.uid}-startPanel-0" href="#" class="btn btn-primary"><f:translate key="panel.execute.startPanelButtonText" /></a></p>
	</f:else>
</f:if>

