<f:layout name="Default" />

<f:section name="main">
	<h2><f:translate key="panel.guestView.title" /></h2>

	<f:flashMessages renderMode="div" />

	<form name="panel" method="GET">
		<div class="form-group">
			<label for="panelId">
				<f:translate key="panel.guestView.idLabel" />
			</label>
			<f:form.textfield id="panelId" class="form-control" name="tx_easyvoteeducation_guestview[panelId]" />
			<f:form.hidden name="tx_easyvoteeducation_guestview[action]" value="guestViewParticipation" />
		</div>
		<button type="submit" class="btn btn-primary"><f:translate key="panel.guestView.participateButtonText" /></button>
	</form>
</f:section>