<f:layout name="default" />

<f:section name="main">
	<h2>{panel.title}</h2>

	<div id="panel-votingcontainer"></div>

	<style>
		#spinner {display: none}
	</style>
	<script>
		var EasyvoteLanguage = '{language}' - 0;
		var baseUrl = '{directoryPath}';
		$(function() {
			var panelUid = '{panel.uid}' - 0;
			var currentState = 'init';

			(function poll() {
				$.ajax({
					url: [baseUrl, '/state.json'].join(''),
					type: 'GET',
					success: function(data) {
						if (data.state && data.state !== currentState) {
							currentState = data.state;
							// We load the new content
							EasyvoteEducation.loadStaticVotingAction([baseUrl, '/content.html'].join(''), '#panel-votingcontainer');
						}
					},
					dataType: 'json',
					complete: setTimeout(function() {poll()}, 3000),
					timeout: 5000
				})
			})();
		});
	</script>

	<p class="automatic-reload-indicator"><em><f:translate key="panel.guestView.participationInformation" /></em></p>
</f:section>