<f:layout name="default" />

<f:section name="main">
	<h2>{panel.title}</h2>
	<p>{panel.description}</p>
	<hr />

	<div id="panel-votingcontainer"></div>

	<script>
		$(function() {
			var panelUid = {panel.uid};
			var baseUri = [location.protocol, '//', location.host, location.pathname].join('');
			var source = new EventSource(baseUri + '/?eID=easyvoteeducation&panelUid=' + panelUid);
			var currentState = 'init';
			source.addEventListener('currentState', function(e) {
				if (e.data !== currentState) {
					currentState = e.data;
					EasyvoteEducation.loadVotingAction('panel-' + panelUid + '-guestViewContent-0', '#panel-votingcontainer');
				}
			}, false);

			source.addEventListener('open', function(e) {
				// Connection was opened.
			}, false);

			source.addEventListener('error', function(e) {
				if (e.readyState == EventSource.CLOSED) {
					// Connection was closed.
				}
			}, false);
		});
	</script>

	<hr />

	<p><em><f:translate key="panel.guestView.participationInformation" /></em></p>
</f:section>