<f:flashMessages renderMode="div" />

<a class="btn btn-primary btn-fullwidth" data-role="generalaction" data-actionname="new"><f:translate key="panel.managePanels.newPanel" /></a>

<f:for each="{panels}" as="panel">
	<div class="panel-{panel.uid} content-box content-box-expandable">
		<div class="box-teaser">
			<div class="row">
				<div class="col-xs-3 col-md-3">
					<f:if condition="{panel.panelInvitationsSent}">
						<f:then>
							<f:if condition="{panel.allPanelInvitationsAccepted}">
								<f:then>
									<f:render partial="ActionIcons/Ok" />
								</f:then>
								<f:else>
									<f:render partial="ActionIcons/Pending" />
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:render partial="ActionIcons/Panel" />
						</f:else>
					</f:if>
				</div>
				<div class="col-xs-9 col-md-9">
					<div class="actions">
						<div class="action toggle handle">
							<i class="evicon-down-open"></i>
						</div>
					</div>
					<h2>{panel.title}</h2>
					<span>
						<f:if condition="{panel.date}">
							<f:format.date format="%A, %e. %B %Y">{panel.date}</f:format.date>
						</f:if>
						<f:render partial="Panel/ExecutionTime" arguments="{panel:panel, leadingCharacter: '|'}" />
						<f:if condition="{panel.city}">
							| {panel.city.name}
						</f:if>
					</span>
				</div>
			</div>
		</div>
		<div class="box-content">
			<f:render partial="Panel/Location" arguments="{panel:panel}" />
			<f:comment>
				<div class="panel-id"><f:translate key="panel.panelId" />: <span class="panel-id-monospace">{panel.panelId}</span></div>
			</f:comment>

			<div class="panel-mainfunctions">
				<div class="panel-functions">

					<f:if condition="{panel.panelInvitations}">
						<f:then>
							<f:if condition="{panel.panelInvitationsSent}">
								<f:then>
									<h3><f:translate key="panel.panelInvitations" /></h3>
									<p><f:render partial="Panel/Invitations" arguments="{panel:panel}" /></p>
								</f:then>
								<f:else>
									<h3><f:translate key="panel.panelInvitations" /></h3>
									<p><f:translate key="panel.panelInvitations.noInvitationsOrNotSent" /></p>
									<a class="btn btn-primary btn-sm" data-role="panelaction" data-confirm="false" data-object="panel" data-uid="{panel.uid}" data-actionname="editPanelInvitations"><f:translate key="panel.actions.editPanelInvitations" /></a>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:if condition="{panel.panelInvitationAllowed}">
								<f:then>
									<h3><f:translate key="panel.panelInvitations" /></h3>
									<p><f:translate key="panel.panelInvitations.noInvitationsOrNotSent" /></p>
									<a class="btn btn-primary btn-sm" data-role="panelaction" data-confirm="false" data-object="panel" data-uid="{panel.uid}" data-actionname="editPanelInvitations"><f:translate key="panel.actions.editPanelInvitations" /></a>
								</f:then>
								<f:else>
									<h3><f:translate key="panel.panelInvitations" /></h3>
									<p><f:translate key="panel.panelInvitations.notAllowed" arguments="{0: panel.city.kanton.name}" /></p>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</div>
				<div class="panel-functions">
					<h3><f:translate key="panel.votings" /></h3>
					<f:if condition="{panel.votings}">
						<f:then>
							<f:if condition="{panel.votings -> f:count()} > 1">
								<f:then>
									<p><f:count>{panel.votings}</f:count> <f:translate key="panel.votings" /></p>
								</f:then>
								<f:else>
									<p><f:count>{panel.votings}</f:count> <f:translate key="panel.voting" /></p>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<p><f:translate key="panel.votings.noVotings" /></p>
						</f:else>
					</f:if>
					<a class="btn btn-primary btn-sm" data-role="panelaction" data-confirm="false" data-object="panel" data-uid="{panel.uid}" data-actionname="editVotings"><f:translate key="panel.actions.editVotings" /></a>
				</div>
			</div>

			<ul class="item-toolbar">
				<li>
					<a class="btn btn-primary" data-role="panelaction" data-confirm="false" data-object="panel" data-uid="{panel.uid}" data-actionname="edit"><f:translate key="panel.actions.edit" /></a>
				</li>
				<f:comment>
					<li>
						<a class="btn btn-primary" data-role="panelaction" data-confirm="true" data-object="panel" data-uid="{panel.uid}" data-actionname="delete"><f:translate key="panel.actions.delete" /></a>
						<div class="hidden ajaxobject-confirm">
							<p><f:translate key="panel.actions.delete.confirmationText" /></p>
							<button class="pull-left btn btn-primary button-cancel"><f:translate key="panel.actions.delete.cancel" /></button>
							<button class="pull-right btn btn-primary button-returntrue"><f:translate key="panel.actions.delete.confirm" /></button>
						</div>
					</li>
				</f:comment>
				<f:comment>
					Currently unused and unmaintained
					<li>
						<a class="btn btn-primary btn-sm" data-role="panelaction" data-confirm="false" data-object="panel" data-uid="{panel.uid}" data-actionname="duplicate"><f:translate key="panel.actions.duplicate" /></a>
					</li>
				</f:comment>
				<f:if condition="{panel.votings}">
					<li>
						<f:link.action pageUid="{settings.presentationViewPid}" noCacheHash="true" controller="Panel" action="presentationViewParticipation" arguments="{panelId: panel.panelId}" class="btn btn-primary {f:if(condition:panel.currentState, then:'hasModal')}" target="_blank">
							<f:translate key="panel.actions.start" />
						</f:link.action>
						<f:if condition="{panel.currentState}">
							<f:if condition="{panel.currentState} == 'finishedPanel-0'">
								<f:then>
									<div class="hidden">
										<a class="pull-right qtip-close" aria-label="schliessen">
											<i class="evicon-cancel"></i>
										</a>
										<p><f:translate key="panel.execute.panelFinishedBeforeInformation" /></p>
										<p>
											<button type="button" class="btn btn-primary button-cancel"><f:translate key="panel.execute.cancel" /></button>
											<f:link.action pageUid="{settings.presentationViewPid}" noCacheHash="true" controller="Panel" action="presentationViewParticipation" arguments="{panelId: panel.panelId, reset: 1}" class="btn btn-primary">
												<f:translate key="panel.execute.restartPanelButtonText" />
											</f:link.action>
										</p>
									</div>
								</f:then>
								<f:else>
									<div class="hidden">
										<a class="pull-right qtip-close" aria-label="schliessen">
											<i class="evicon-cancel"></i>
										</a>
										<p><f:translate key="panel.execute.panelStartedBeforeInformation" /></p>
										<p>
											<button type="button" class="btn btn-primary button-cancel"><f:translate key="panel.execute.cancel" /></button>
											<button type="button" class="btn btn-primary button-confirm"><f:translate key="panel.execute.continuePanelButtonText" /></button>
											<f:link.action pageUid="{settings.presentationViewPid}" noCacheHash="true" controller="Panel" action="presentationViewParticipation" arguments="{panelId: panel.panelId, reset: 1}" class="btn btn-primary">
												<f:translate key="panel.execute.restartPanelButtonText" />
											</f:link.action>
										</p>
									</div>
								</f:else>
							</f:if>
						</f:if>
					</li>
				</f:if>
			</ul>
		</div>
	</div>
</f:for>

<f:if condition="{panels->f:count()} > 4">
	<a class="btn btn-primary btn-fullwidth" data-role="generalaction" data-actionname="new"><f:translate key="panel.managePanels.newPanel" /></a>
</f:if>
