{namespace h=Helhum\TyposcriptRendering\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<div id="easyvoteeducation-content"></div>
	<script>
		var EasyvoteEducationActionUris = {
			//dashboard: '<h:uri.ajaxAction controller="Panel" action="dashboard" absolute="TRUE" />',
			//startPanel: '<h:uri.ajaxAction controller="Panel" action="startPanel" absolute="TRUE" />',
			managePanels: '<h:uri.ajaxAction controller="Panel" action="managePanels" absolute="TRUE" />',
			new: '<h:uri.ajaxAction controller="Panel" action="new" absolute="TRUE" />',
			create: '<h:uri.ajaxAction controller="Panel" action="create" absolute="TRUE" />',
			edit: '<h:uri.ajaxAction controller="Panel" action="edit" absolute="TRUE" />',
			update: '<h:uri.ajaxAction controller="Panel" action="update" absolute="TRUE" />',
			delete: '<h:uri.ajaxAction controller="Panel" action="delete" absolute="TRUE" />',
			//duplicate: '<h:uri.ajaxAction controller="Panel" action="duplicate" absolute="TRUE" />',
			editVotings: '<h:uri.ajaxAction controller="Panel" action="editVotings" absolute="TRUE" />',
			editPanelInvitations: '<h:uri.ajaxAction controller="Panel" action="editPanelInvitations" absolute="TRUE" />',
			execute: '<h:uri.ajaxAction controller="Panel" action="execute" absolute="TRUE" />',

			listForCurrentUser: '<h:uri.ajaxAction controller="Voting" action="listForCurrentUser" absolute="TRUE" />',
			editVoting: '<h:uri.ajaxAction controller="Voting" action="edit" absolute="TRUE" />',
			updateVoting: '<h:uri.ajaxAction controller="Voting" action="update" absolute="TRUE" />',
			deleteVoting: '<h:uri.ajaxAction controller="Voting" action="delete" absolute="TRUE" />',
			newVoting: '<h:uri.ajaxAction controller="Voting" action="new" absolute="TRUE" />',
			//duplicateVoting: '<h:uri.ajaxAction controller="Voting" action="duplicate" absolute="TRUE" />',
			sortVotings: '<h:uri.ajaxAction controller="Voting" action="sort" absolute="TRUE" />',

			listPanelInvitationsForCurrentUser: '<h:uri.ajaxAction controller="PanelInvitation" action="listForCurrentUser" absolute="TRUE" />',
			createPanelInvitation: '<h:uri.ajaxAction controller="PanelInvitation" action="create" absolute="TRUE" />',
			deletePanelInvitation: '<h:uri.ajaxAction controller="PanelInvitation" action="delete" absolute="TRUE" />',

			listForVoting: '<h:uri.ajaxAction controller="VotingOption" action="listForVoting" absolute="TRUE" />',
			newVotingOption: '<h:uri.ajaxAction controller="VotingOption" action="new" absolute="TRUE" />',
			editVotingOption: '<h:uri.ajaxAction controller="VotingOption" action="edit" absolute="TRUE" />',
			updateVotingOption: '<h:uri.ajaxAction controller="VotingOption" action="update" absolute="TRUE" />',
			deleteVotingOption: '<h:uri.ajaxAction controller="VotingOption" action="delete" absolute="TRUE" />',
			sortVotingOptions: '<h:uri.ajaxAction controller="VotingOption" action="sort" absolute="TRUE" />'
		}
	</script>

</f:section>