<f:switch expression="{votingStepAction}">
	<f:case value="startPanel">
		<f:render partial="Panel/VotingStep/StartPanel" arguments="{_all}" />
	</f:case>
	<f:case value="nextVoting">
		<f:render partial="Panel/VotingStep/NextVoting" arguments="{_all}" />
	</f:case>
	<f:case value="startVoting">
		<f:render partial="Panel/VotingStep/StartVoting" arguments="{_all}" />
	</f:case>
	<f:case value="stopVoting">
		<f:render partial="Panel/VotingStep/StopVoting" arguments="{_all}" />
	</f:case>
	<f:case value="stopPanel">
		<f:render partial="Panel/VotingStep/StopPanel" arguments="{_all}" />
	</f:case>
	<f:case value="pendingVoting">
		<f:render partial="Panel/VotingStep/{originalVotingStepAction}/PendingVoting" arguments="{_all}" />
	</f:case>
	<f:case value="currentVoting">
		<f:render partial="Panel/VotingStep/{originalVotingStepAction}/CurrentVoting" arguments="{_all}" />
	</f:case>
	<f:case value="castVote">
		<f:render partial="Panel/VotingStep/CastVote" arguments="{_all}" />
	</f:case>
	<f:case value="finishedVoting">
		<f:render partial="Panel/VotingStep/{originalVotingStepAction}/FinishedVoting" arguments="{_all}" />
	</f:case>
	<f:case value="finishedPanel">
		<f:render partial="Panel/VotingStep/{originalVotingStepAction}/FinishedPanel" arguments="{_all}" />
	</f:case>
	<f:case value="presentationViewContent">
		<f:render partial="Panel/PresentationViewContent" arguments="{_all}" />
	</f:case>
	<f:case value="guestViewContent">
		<f:render partial="Panel/GuestViewContent" arguments="{_all}" />
	</f:case>
	<f:case default="TRUE">
	</f:case>
</f:switch>
