.easyvote-education {
	.main-navigation {
		.clearfix();
		list-style: none;
		padding: 0;
		margin: 0 0 20px 0;
		li {
			float: left;
			margin-right: 10px;
		}
	}

	.content-box-expandable {
		.panel-date {
			.clearfix();
		}
		.panel-location {
			.clearfix();
		}
		.panel-id {
			.clearfix();
			margin-bottom: 15px;
			.panel-id-monospace {
				font-family: "monotype", "courier new", sans-serif;
			}
		}
		.box-content {
			.item-toolbar {
				.clearfix();
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					float: left;
					padding: 0;
					margin: 0 10px 0 0;
					opacity: 0.5;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.btn-fullwidth {
		width: 100%;
		margin-bottom: 15px;
	}

	.voting-item {
		.box-content {
			.editVoting {
				margin-bottom: 20px;
				label {
					font-weight: bold;
				}
				.votingDuration-display {
					&.votingDuration-display-hidden {
						display: none;
					}
				}
				input[type=submit] {
					position: absolute;
					left: -99999px;
				}
			}
			.votingOptions-content {
				margin-bottom: 20px;
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						background: lighten(@box-background, 5%);
						.rounded-corners();
						padding: 10px;
						margin: 0 0 5px 0;
						form {
							margin-bottom: 0;
							.form-group {
								margin-bottom: 0;
							}
						}
						.voting-option-image {
							margin-bottom: 5px;
						}
						.votingOption-image-preview {
							height: 50px;
							width: 50px;
						}
						.votingoption-delete {
							float: right;
						}
/*
						.item-toolbar {
							margin-left: -10px;
							.action-moveup {
								display: inline-block;
							}
							.action-movedown {
								display: inline-block;
							}
						}
						&:first-child {
							.item-content {
								.item-toolbar {
									.action-moveup {
										display: none;
									}
								}
							}
						}
						&:last-child {
							.item-content {
								.item-toolbar {
									.action-movedown {
										display: none;
									}
								}
							}
						}
*/
					}
				}
				.votingOption-image {
					position: absolute;
					left: -99999px;
				}
				input[type=submit] {
					position: absolute;
					left: -99999px;
				}
			}
			.item-toolbar {
				margin-left: -10px;
			}
		}
		&:first-child {
			.action-moveup {
				display: none;
			}
		}
		&:last-child {
			.action-movedown {
				display: none;
			}
		}
	}
	.voting-item-hidden {
		.item-header {
			opacity: 0.5;
		}
	}

	.automatic-reload-indicator {
		margin-top: 20px;
	}
}

button.newvoting-button {
	margin-bottom: 5px;
	width: 100%;
}

.votingoptions-readonly {
	.clearfix();
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	.votingoption-image {
		float: left;
		width: 33%;
		padding: 0 10px;
		margin-bottom: 10px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.votingoption-text {
		width: 50%;
		max-width: 300px;
		background-color: @blue;
		text-transform: uppercase;
		color: @white !important;
		font-size: 16px;
		padding: 5px;
		margin: 0 0 10px 10px;
	}
}

.votingoptions {
	.clearfix();
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	.votingoption-image {
		float: left;
		width: 33%;
		padding: 0 10px;
		margin-bottom: 10px;

		button {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			border: 0;
			text-align: left;
			position: relative;
			background-size: cover;
			.votingoption-caption {
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: @white;
				padding: 5px;
			}
			&.selected {
				.votingoption-caption {
					background-color: @pink;
					color: @white;
				}
			}
		}
	}
	.votingoption-text {
		button {
			text-align: left;
			border: 0;
			width: 50%;
			max-width: 300px;
			background-color: @blue;
			text-transform: uppercase;
			color: @white !important;
			font-size: 16px;
			padding: 5px;
			margin: 0 0 10px 10px;
			&.selected {
				background-color: @pink;
			}
		}
	}
}

.votingresults {
	.clearfix();
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 10px;
		&.votingresult-image {
			float: left;
			width: 33%;
			padding: 0 10px;
			margin-bottom: 10px;
			img {
				width: 100%;
				height: auto;
			}
			.progress-easyvote {
				width: 100%;
			}
		}
	}
}

.progress-easyvote {
	position: relative;
	background: @blue;
	color: @white;
	height: 30px;
	.progress-bar {
		background: @pink;
	}
	.progress-text {
		position: absolute;
		left: 10px;
		top: 0px;
		line-height: 30px;
	}
}

.presentation-view {
	.presentation-view-sidebar {
		.voting-timer {
			.clearfix();
			color: @pink;
			height: 150px;
			font-size: 20px;
			text-transform: uppercase;
			i {
				display: block;
				float: left;
				font-size: 120px;
				line-height: 120px;
				&:before {
					margin: 0 25px 0 0;
					width: auto;
				}
			}
			.text {
				float: left;
			}
			.timer {
				display: block;
				font-size: 60px;
				line-height: 60px;
			}
		}
		.voting-navigation {
			.clearfix();
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				text-transform: uppercase;
				font-size: 20px;
				margin-bottom: 10px;
				&.active {
					color: @pink;
				}
			}
		}
	}
	.presentation-view-content {
		background-color: @box-background;
		padding: 40px;
		.rounded-corners();
		min-height: 400px;
		h2 {
			font-size: 30px;
		}
		p {
			font-size: 18px;
		}
		.votingoption-caption {
			font-size: 18  px;
			font-weight: 600;
		}
		.panel-id {
			font-size: 22px;
			font-weight: bold;
		}
	}
	.logo-easyvote {
		.panel-id {
			margin-top: 10px;
			float: left;
			font-size: 18px;
		}
		img {
			float: right;
			width: 200px;
			height: auto;
		}
	}
}



@media (max-width: @screen-xs-max) {
	.votingoptions-readonly {
		.votingoption-image {
			width: 50%;
		}
		.votingoption-text {
			width: 90%;
		}
	}
	.votingoptions {
		.votingoption-image {
			width: 50%;
		}
		.votingoption-text {
			width: 90%;
		}
	}
	.votingresults {
		li.votingresult-image {
			width: 50%;
		}
	}
}